.bar-list,
.happy-hour-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar-list li,
.happy-hour-list li {
  flex-basis: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}

.bar-list img,
.happy-hour-list img {
  max-width: 100%;
  height: auto;
  order: 1;
}

.bars-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.happy-hour-section {
  background-color: #e6f7ff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bars-section h2,
.happy-hour-section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.bars-section p,
.happy-hour-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bars-section .bar-list li h3,
.happy-hour-section .happy-hour-list li h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.bars-section .bar-list li p,
.happy-hour-section .happy-hour-list li p {
  font-size: 14px;
  color: #777;
}

.bars-section .bar-list li strong,
.happy-hour-section .happy-hour-list li strong {
  font-weight: bold;
  color: #555;
}